<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ChatApp</title>
    <link rel="stylesheet" href="messages.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="side-bar">
        <%= render "side_bar" %>
      </div>
      <div class="chat">
        <%= render "main_chat" %>
      </div>
    </div>
  </body>
</html>